{
  "name": "ritaSolo_project2",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "styles/styles.scss",
      "imports": [
        "styles/partials/_setup.scss",
        "styles/partials/_utils.scss",
        "styles/partials/_typography.scss",
        "styles/partials/_header.scss",
        "styles/partials/_aboutWelcome.scss",
        "styles/partials/_servicesReviews.scss",
        "styles/partials/_eventsAsk.scss",
        "styles/partials/_quickInfoBlog.scss",
        "styles/partials/_footer.scss"
      ]
    },
    {
      "path": "Hover-master/scss/hover.scss",
      "imports": [
        "Hover-master/scss/_options.scss",
        "Hover-master/scss/_mixins.scss",
        "Hover-master/scss/_hacks.scss",
        "Hover-master/scss/effects/2d-transitions/_grow.scss",
        "Hover-master/scss/effects/2d-transitions/_shrink.scss",
        "Hover-master/scss/effects/2d-transitions/_pulse.scss",
        "Hover-master/scss/effects/2d-transitions/_pulse-grow.scss",
        "Hover-master/scss/effects/2d-transitions/_pulse-shrink.scss",
        "Hover-master/scss/effects/2d-transitions/_push.scss",
        "Hover-master/scss/effects/2d-transitions/_pop.scss",
        "Hover-master/scss/effects/2d-transitions/_bounce-in.scss",
        "Hover-master/scss/effects/2d-transitions/_bounce-out.scss",
        "Hover-master/scss/effects/2d-transitions/_rotate.scss",
        "Hover-master/scss/effects/2d-transitions/_grow-rotate.scss",
        "Hover-master/scss/effects/2d-transitions/_float.scss",
        "Hover-master/scss/effects/2d-transitions/_sink.scss",
        "Hover-master/scss/effects/2d-transitions/_bob.scss",
        "Hover-master/scss/effects/2d-transitions/_hang.scss",
        "Hover-master/scss/effects/2d-transitions/_skew.scss",
        "Hover-master/scss/effects/2d-transitions/_skew-forward.scss",
        "Hover-master/scss/effects/2d-transitions/_skew-backward.scss",
        "Hover-master/scss/effects/2d-transitions/_wobble-vertical.scss",
        "Hover-master/scss/effects/2d-transitions/_wobble-horizontal.scss",
        "Hover-master/scss/effects/2d-transitions/_wobble-to-bottom-right.scss",
        "Hover-master/scss/effects/2d-transitions/_wobble-to-top-right.scss",
        "Hover-master/scss/effects/2d-transitions/_wobble-top.scss",
        "Hover-master/scss/effects/2d-transitions/_wobble-bottom.scss",
        "Hover-master/scss/effects/2d-transitions/_wobble-skew.scss",
        "Hover-master/scss/effects/2d-transitions/_buzz.scss",
        "Hover-master/scss/effects/2d-transitions/_buzz-out.scss",
        "Hover-master/scss/effects/2d-transitions/_forward.scss",
        "Hover-master/scss/effects/2d-transitions/_backward.scss",
        "Hover-master/scss/effects/background-transitions/_fade.scss",
        "Hover-master/scss/effects/background-transitions/_back-pulse.scss",
        "Hover-master/scss/effects/background-transitions/_sweep-to-right.scss",
        "Hover-master/scss/effects/background-transitions/_sweep-to-left.scss",
        "Hover-master/scss/effects/background-transitions/_sweep-to-bottom.scss",
        "Hover-master/scss/effects/background-transitions/_sweep-to-top.scss",
        "Hover-master/scss/effects/background-transitions/_bounce-to-right.scss",
        "Hover-master/scss/effects/background-transitions/_bounce-to-left.scss",
        "Hover-master/scss/effects/background-transitions/_bounce-to-bottom.scss",
        "Hover-master/scss/effects/background-transitions/_bounce-to-top.scss",
        "Hover-master/scss/effects/background-transitions/_radial-out.scss",
        "Hover-master/scss/effects/background-transitions/_radial-in.scss",
        "Hover-master/scss/effects/background-transitions/_rectangle-in.scss",
        "Hover-master/scss/effects/background-transitions/_rectangle-out.scss",
        "Hover-master/scss/effects/background-transitions/_shutter-in-horizontal.scss",
        "Hover-master/scss/effects/background-transitions/_shutter-out-horizontal.scss",
        "Hover-master/scss/effects/background-transitions/_shutter-in-vertical.scss",
        "Hover-master/scss/effects/background-transitions/_shutter-out-vertical.scss",
        "Hover-master/scss/effects/border-transitions/_border-fade.scss",
        "Hover-master/scss/effects/border-transitions/_hollow.scss",
        "Hover-master/scss/effects/border-transitions/_trim.scss",
        "Hover-master/scss/effects/border-transitions/_ripple-out.scss",
        "Hover-master/scss/effects/border-transitions/_ripple-in.scss",
        "Hover-master/scss/effects/border-transitions/_outline-out.scss",
        "Hover-master/scss/effects/border-transitions/_outline-in.scss",
        "Hover-master/scss/effects/border-transitions/_round-corners.scss",
        "Hover-master/scss/effects/border-transitions/_underline-from-left.scss",
        "Hover-master/scss/effects/border-transitions/_underline-from-center.scss",
        "Hover-master/scss/effects/border-transitions/_underline-from-right.scss",
        "Hover-master/scss/effects/border-transitions/_overline-from-left.scss",
        "Hover-master/scss/effects/border-transitions/_overline-from-center.scss",
        "Hover-master/scss/effects/border-transitions/_overline-from-right.scss",
        "Hover-master/scss/effects/border-transitions/_reveal.scss",
        "Hover-master/scss/effects/border-transitions/_underline-reveal.scss",
        "Hover-master/scss/effects/border-transitions/_overline-reveal.scss",
        "Hover-master/scss/effects/shadow-and-glow-transitions/_glow.scss",
        "Hover-master/scss/effects/shadow-and-glow-transitions/_shadow.scss",
        "Hover-master/scss/effects/shadow-and-glow-transitions/_grow-shadow.scss",
        "Hover-master/scss/effects/shadow-and-glow-transitions/_box-shadow-outset.scss",
        "Hover-master/scss/effects/shadow-and-glow-transitions/_box-shadow-inset.scss",
        "Hover-master/scss/effects/shadow-and-glow-transitions/_float-shadow.scss",
        "Hover-master/scss/effects/shadow-and-glow-transitions/_shadow-radial.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-top.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-right.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-bottom.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-left.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-float-top.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-float-right.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-float-bottom.scss",
        "Hover-master/scss/effects/speech-bubbles/_bubble-float-left.scss",
        "Hover-master/scss/effects/icons/_icon-back.scss",
        "Hover-master/scss/effects/icons/_icon-forward.scss",
        "Hover-master/scss/effects/icons/_icon-down.scss",
        "Hover-master/scss/effects/icons/_icon-up.scss",
        "Hover-master/scss/effects/icons/_icon-spin.scss",
        "Hover-master/scss/effects/icons/_icon-drop.scss",
        "Hover-master/scss/effects/icons/_icon-fade.scss",
        "Hover-master/scss/effects/icons/_icon-float-away.scss",
        "Hover-master/scss/effects/icons/_icon-sink-away.scss",
        "Hover-master/scss/effects/icons/_icon-grow.scss",
        "Hover-master/scss/effects/icons/_icon-shrink.scss",
        "Hover-master/scss/effects/icons/_icon-pulse.scss",
        "Hover-master/scss/effects/icons/_icon-pulse-grow.scss",
        "Hover-master/scss/effects/icons/_icon-pulse-shrink.scss",
        "Hover-master/scss/effects/icons/_icon-push.scss",
        "Hover-master/scss/effects/icons/_icon-pop.scss",
        "Hover-master/scss/effects/icons/_icon-bounce.scss",
        "Hover-master/scss/effects/icons/_icon-rotate.scss",
        "Hover-master/scss/effects/icons/_icon-grow-rotate.scss",
        "Hover-master/scss/effects/icons/_icon-float.scss",
        "Hover-master/scss/effects/icons/_icon-sink.scss",
        "Hover-master/scss/effects/icons/_icon-bob.scss",
        "Hover-master/scss/effects/icons/_icon-hang.scss",
        "Hover-master/scss/effects/icons/_icon-wobble-horizontal.scss",
        "Hover-master/scss/effects/icons/_icon-wobble-vertical.scss",
        "Hover-master/scss/effects/icons/_icon-buzz.scss",
        "Hover-master/scss/effects/icons/_icon-buzz-out.scss",
        "Hover-master/scss/effects/curls/_curl-top-left.scss",
        "Hover-master/scss/effects/curls/_curl-top-right.scss",
        "Hover-master/scss/effects/curls/_curl-bottom-right.scss",
        "Hover-master/scss/effects/curls/_curl-bottom-left.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}