.about {
    padding: 100px 0;
    &__h3 {
        text-align: center;
        font-weight: 600;
        padding-bottom: 50px;
    }
    &__h4 {
            color: black;
            margin-top: 25px;
    }
    &__p {
        line-height: 25px;
        margin: 25px 0;
    }
    &__info {
        display: flex;
        flex-shrink: 1;
    }
    &__half {
        width: 50%;
        text-align: center;
        padding: 0 20px;
    }
    &__gallery {
        &__ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-shrink: 3;
        }
        &__li {
            padding: 20px;
            max-width: 50%;
            text-align: center;
        } 
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.welcome {
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 200px;
    &__p {
        margin-top: 60px;
        margin-bottom: 40px;
        line-height: 25px;
    }
    &__wrapper {
        margin: 30px 0;
        padding: 0 50px;
    }
}

@media (max-width: 900px) {
    .welcome {
        padding: 50px 50px;
    }
}

@media (max-width: 580px) {
    
    .about {
        &__half {
            width: 100%;
            text-align: center;
            padding: 0 60px;
        }
        &__info {
            flex-direction: column;
        }
        &__gallery {
            &__ul {
                justify-content: center;
            }
        }
    }    
}
