.events {
    text-align: center;
    &__h3 {
        margin: 60px 0;
        &--white {
            color: white;
        }
    }
    &__p {
        &--white {
            color: white;
        }
    }
    &__sampleEvent {
        &__ul {
            display: flex;
            padding: 0;
        }
        &__li {
            position: relative;
            width: 33.3%;
            img {
                max-height: 242px;
            }
            &__content {
                background:rgba(42,42,42,0.9);
                position: absolute;
                max-height: 242px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 40px;
            }
            .container {
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid white;
                padding-top: 30px;
                padding-bottom: 15px;
            }
        }
    }
}

.askQuestion {
    padding: 50px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__input {
        border: 0;
        border-bottom: 1px solid $darkgrey;
        width: 500px;
        text-align: center;
        font-family: 'Lora', serif;
        font-size: 1.2rem;
        padding: 10px 0;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1082px) {
   .events {
        &__sampleEvent {
            &__ul {
                flex-direction: column;
                padding: 0;
                align-items: center;
            }
            &__li {
                width: 50%;
            }
            
        }
    }
}

@media (max-width: 764px) {
    .events {
        &__h3 {
            margin: 20px 0;
        }
        &__sampleEvent {
            &__ul {
                flex-direction: column;
                padding: 0;
                align-items: center;
            }
            &__li {
                margin-bottom: 10px;
                width: 60%;
            }
            h3 {
                font-size: 2rem;
            }
            p {
                display: none;
            }
            .container {
                border: 0;
                padding: 0;
            }
        }
    }
    .askQuestion {
        &__input {
            width: 80%;
            margin: 0 20px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}