.header {
    height: 100vh;
    background-image: url("../images/image-1.jpeg");
    background-size: cover;
    background-position: bottom right 25%;
    padding: 0 20px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85%;
    }
}
.headerNav {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    &__h1 {
        flex-shrink: 5;
    }
    &__ul {
        align-self: center;
        flex-shrink: 1;
        padding-top: 32px;
    }
    &__li {
        margin-left: 40px;
    }
    .hamburger,
	.exit-responsive {
		display: none;
		transition: 0.5s;
	}

	.show.menu {
		display: block;
		position: absolute;
    }
}

@media (max-width: 762px) {
    .headerNav {
        .hamburger,
        .exit-responsive {
            display: block;
            font-size: 3rem;
            margin-right: 2%;
            margin-top: 3rem;
            color: white;
            &:hover {
                color: $yellow;
            }
        }
        
        .menu {
            display: none;
            position: relative;
            top: 70px;
            right: 5%;
        }

        .menu ul {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }

        .menu ul li {
            margin: 0;
        }
        
        .menu ul li:first-of-type {
            text-align: left;
        }

        .menu ul a {
            font-size: 2rem;
            color: black;
            margin: 5px 0;
            padding: 2px 10px;
            border-radius: 3px;
            background-color: white;
            line-height: 3rem;
            width: 100%;
            transition: 0.2s;
            &:hover {
                color: white;
                background-color: $yellow;
            }
        }
    }
}