.quickInfo {
    background-color: $yellow;
    padding: 100px 0;
    &__ul {
        display: flex;
    }
    &__li {
        width: 25%;
        text-align:center;
    }
    &__p {
        margin: 0;
    }
    &__h4 {
        margin: 0;
    }
    .fas {
        font-size: 30px;
        margin-bottom: 10px;
        transition: 0.5s;
        &:hover {
            color: slategray;
        }
    }
}

.blog {
    text-align: center;
    padding: 0 20px;
    &__h3 {
        margin: 70px 0;
    }
    .blogPosts {
        margin-bottom: 80px;
        &__ul {
            display: flex;
            justify-content: space-between;
        }
        &__li {
            width: 31.5%;  
            text-align: left;
        }
        &__a {
            text-transform: uppercase;
            color: $red;
            font-size: 1.2rem;
            font-weight: 600;
            transition: 0.5s;
            &:hover {
                color: darkslategray;
            }
        }
        &__chevron {
            font-size: 2rem;
            margin: 0 5px;
        }
    }
}

@media (max-width: 860px) {
    .blogPosts {
        padding: 0 20px;
    }
}

@media (max-width: 716px) {
    .blogPosts {
        padding: 0 50px;
        &__ul {
            flex-wrap: wrap;
        }
        &__li:first-of-type{
            width: 48%;
        }
        &__li:nth-of-type(2) {
            width: 48%;
        }
        &__li:last-of-type {
            width: 100%;
            margin-top: 40px;
        }
    }
}
